.promo {
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.promo__title {
  max-width: 360px;
  margin: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;

  @media (min-width: $desktop-width) {
    max-width: 478px;
    margin: 0;
    margin-bottom: 40px;

    font-size: 30px;
    line-height: 40px;
    text-align: start;
  }
}

.promo__graph-wrapper {
  margin-bottom: 20px;

  @media (min-width: 460px) {
    display: grid;
    max-width: 620px;
    margin: 0 auto;
    margin-bottom: 20px;

    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    max-width: 660px;

    grid-gap: 58px;
  }
}

.promo__graph-image {
  width: 100%;
  @media (min-width: 460px) {
    width: 300px;
  }
}

.promo__graph-text {
  max-width: 370px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-weight: 500;
  @media (min-width: 460px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 27px;
  }
}

.promo__text {
  max-width: 620px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 500;

  @media (min-width: $desktop-width) {
    max-width: 660px;

    font-size: 18px;
    line-height: 27px;
  }
}

.promo__image {
  width: 100%;
  max-width: 904px;
  display: block;
  margin: 0 auto;
}
